.sing__button{
    width: 100%;
    border-radius: 2px;
    border: none;
    background-color: white;
    height: 49px;
    margin: 186px 0 15px;
    font-size: 18px;
    line-height: 22px;
    transition: opacity .2s linear;
    cursor: pointer;
}
.sing__button:hover{
    opacity: 0.8;
}

@media screen and (max-width: 800px){
    .sing__button{
        margin: 145px 0 20px;
        font-size: 16px;
    }
}