.profile__avatar-container{
    position: relative;
    
}

@media screen and (max-width: 600px){
    .profile__avatar-container{
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 120px;
    }
}