@import url(./__copyright/footer__copyright.css);
.footer{
    margin: 66px auto 60px;
    width: 69%;
    max-width: 882px;
}
@media screen and (max-width: 1000px){
    .footer{
        width: 80%;
    }
}
@media screen and (max-width: 800px){
    .footer{
        width: 90%;
        font-size: .9rem;
        margin: 48px auto 36px;
    }
}
@media screen and (max-width: 600px){
    .footer{
        width: 88%;
    }
}