.elements__card{
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}