.elements__title{
    margin: 25px  0  31px 20px;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 120%;
    width: calc(100% - 75px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}