@import url(./__logo/header__logo.css);
@import url(./__caption/header__caption.css);
@import url(./__render-element/header__render-element.css);
.header{
    width: 69%;
    margin: 45px auto 36px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    max-width: 882px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1000px){
    .header{
        width: 80%;
    }
}
@media screen and (max-width: 800px){
    .header{
        width: 90%;
    }
}
@media screen and (max-width: 600px){
    .header{
        width: 100%;
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 500px){
    .header{
        margin-top: 28px;
    }
}