.popup__exit-button{
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    background-image: url(../../../images/close-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    position: absolute;
    padding: 0;
    top: -30px;
    right: -30px;
    transition: opacity .2s linear;
}
.popup__exit-button:active, .popup__exit-button:focus{
    outline: none;
}
.popup__exit-button:hover{
    cursor: pointer;
    opacity: 0.6;
}