@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__exit-button/popup__exit-button.css);
@import url(./__caption/popup__caption.css);
@import url(./__image/popup__image.css);
@import url(./__image-container/popup__image-container.css);
@import url(./__error/popup__error.css);
@import url(./__icon/popup__icon.css);

.popup{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear; 
}

